

#ufoCanvas {
    border: 1px solid black;
    background: url("../images/field-background.jpg");
    margin: 0 auto;
    display: block;
    background-size: 100% 100%;
}

body {
    background: url('.././images/background.jpg');
    background-repeat: repeat;
}